<li>

 
    <p>
        <%if (locals.user &&  comment.user && locals.user.id==comment.user.id){%>

            <small>
                <a href="/comments/destroy/<%=comment.id %>">x</a>
            </small>
            
            <%}%>
        <%=comment.content%>
        <br>
        <% if (comment.user) { %>
            <small>
                <%= comment.user.name %>
            </small>
        <% } %>
        
    </p>

   </li> 