body{
    margin: 0;
    /* text-align: center; */

    // background-color: aqua;

    #layout-main{
        // background-color: white;
        height: 100%;
        background-color: #8e4a4a;
     }
}

